<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
</head>
<body>
    @*RenderBody birbirinin aynı olan sayfalardaki farklı kısımları belirmek için kullanılır*@
    @RenderBody() 
  </body>
</html>