@using Microsoft.AspNetCore.Http;
<div class="navbar navbar-expand-sm bg-primary navbar-dark ">
    <div class="container">
        <a href="/" class="navbar-brand">Movie App</a>
        <ul class="navbar-nav">

            @{
                if (@Context.Session.GetString("nameAndSurname") != null)
                {

                    <li class="nav-item">
                                    <a>@Context.Session.GetString("nameAndSurname") </a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a asp-action="Login" asp-controller="Home" class="nav-link">Login</a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="Register" asp-controller="Home" class="nav-link">Register</a>
                    </li>
                }

                @*if (@TempData["nameAndSurname"] != null)
                {
                    <li class="nav-item">
                        <a>@TempData["nameAndSurname"] </a>
                    </li>

                }
                else
                {
                    <li class="nav-item">
                        <a asp-action="Login" asp-controller="Home" class="nav-link">Login</a>
                    </li>
                    <li class="nav-item">
                        <a asp-action="Register" asp-controller="Home" class="nav-link">Register</a>
                    </li>
                }*@

            }


        </ul>
    </div>

</div>

