@model User

@{ 
    Layout = null;
}
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="/modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="/css/register.css" rel="stylesheet" />  
    <script src="~/js/register.js">    </script> 
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"> 
</head>
<body>
    <div class="navbar navbar-expand-sm bg-primary navbar-dark ">
        <div class="container">
            <a href="/" class="navbar-brand">Movie App</a>
        </div>
    </div>

      <div class="cont_principal">

    <div class="cont_centrar">
        <div class="cont_login">
            <form action="">
                <div class="cont_tabs_login">
                    <ul class='ul_tabs'>
                        <li class="active">
                            <a href="#" onclick="sign_in()">SIGN IN</a>
                            <span class="linea_bajo_nom"></span>
                        </li>
                        <li>
                            <a href="#" onclick="sign_up()">SIGN UP</a><span class="linea_bajo_nom"></span>
                        </li>
                    </ul>
                </div>
                <div class="cont_text_inputs">
                    
                    <input type="text" class="input_form_sign " placeholder="NAME" name="Name" />
                    <input type="text" class="input_form_sign " placeholder="SURNAME" name=" Surname" /> 
                    <input type="text" class="input_form_sign d_block active_inp" placeholder="EMAIL" name=" Email" /> 
                    <input type="password" class="input_form_sign d_block  active_inp" placeholder="PASSWORD" name=" Password" />
                    <input type="password" class="input_form_sign" placeholder="CONFIRM PASSWORD" name="conf_pass_us" /> 

                    <a href="#" class="link_forgot_pass d_block">Forgot Password ?</a>
                    <div class="terms_and_cons d_none">
                        <p><input type="checkbox" name="terms_and_cons" /> <label for="terms_and_cons">Accept  Terms and Conditions.</label></p>

                    </div>
                </div>
                <div class="cont_btn">
                    <button class="btn_sign">SIGN IN</button>

                </div>

            </form>
        </div>

    </div>


</div>


</body>
</html>
 































@*<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <title></title>
    <link href="/modules/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>
<body>
    <p>
        <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#personalModal">Add Personal</button>
    </p>
    <div class="modal fade" id="personalModal" tabindex="-1" role="dialog" aria-labelledby="personalModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h2 class="modal-title">New Personal</h2>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body"></div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="button" class="btn btn-primary">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>*@

