.footer {
     background-color: #f5f5f5;
}
.row1 {
    height:100px;
    width:50px;
    background-color:chocolate;
}
.row2 {
    height: 100px;
    width: 50px;
    background-color: darkgoldenrod;
}
